
<ul>
  <% @shared_users.each do |usr| %>
      <% if usr != current_user %>
    <li>
      Users shared with: <%= usr.email%>
    </li>
    <%end%>
  <%end%>
</ul>

<div class="button tiny update-butt">
  <%= link_to 'Add Event', new_timeline_event_path(@timeline) %>
</div>

<div class="row text-center">
  <ul>
    <% @events.each do |event| %>
      <li>
        <h4><%= event.title%></h4>
        <p class=""><%= event.description %></p>
        <div class="button tiny update-butt">
          <%= link_to 'update event', edit_timeline_event_path(@timeline, event) %>
        </div>
        <div class="button tiny update-butt">
          <%= link_to 'delete event', timeline_event_path(@timeline, event), method: "delete" %>
        </div>
      </li>
    <%end%>
  </ul>
</div>

<div class="row text-center">

  <h1><%= @timeline.title%></h1>
  <h3 class=""><%= @timeline.description %></h3>
  <p>
    <% if @timeline.personal == true%>
      private
     <% else %>
      public
     <% end%>
  </p>

  <div class="button tiny update-butt">
    <%= link_to 'Share with Users', new_membership_path(timeline_id: @timeline.id) %>
  </div>

  <div class="button tiny update-butt">
    <%= link_to 'Join', memberships_path(timeline_id: @timeline.id, add_user: false), method: "post" %>
  </div>

  <div class="button tiny update-butt">
    <%= link_to 'Update', edit_timeline_path(@timeline) %>
  </div>

  <div class="button tiny update-butt">
  <%= link_to 'Delete', timeline_path(@timeline), method: "delete", class: "button tiny update-butt" %>
  </div>
</div>
