
<ul>
  <% @shared_users.each do |usr| %>
      <% if usr != current_user %>
    <li>
      Users shared with: <%= usr.email%>
    </li>
    <%end%>
  <%end%>
</ul>


<div class="row clearfix">
  <div class="small-3 columns left">
    <h1><%= @timeline.title%></h1>
    <h3 class=""><%= @timeline.description %></h3>
    <p>
      <% if @timeline.personal == true%>
        private
       <% else %>
        public
       <% end%>
    </p>
  </div>
  <div class="small-6 columns center">
    <!-- <div id="timeline1" style="width:600px;"></div> -->
    <div id="expand-event"></div>
  </div>


  <div class="small-3 columns right">

    <div class="button tiny update-butt">
      <%= link_to 'Share with Users', new_membership_path(timeline_id: @timeline.id) %>
    </div>

    <div class="button tiny update-butt">
      <%= link_to 'Join', memberships_path(timeline_id: @timeline.id, add_user: false), method: "post" %>
    </div>

    <div class="button tiny update-butt">
      <%= link_to 'Update', edit_timeline_path(@timeline) %>
    </div>

    <div class="button tiny update-butt">
    <%= link_to 'Delete', timeline_path(@timeline), method: "delete", class: "button tiny update-butt" %>
    </div>
  </div>
</div>



<div class="row clearfix">
  <div id="timelineNonDate" style="width:6 00px;"></div>
  <div class="button tiny update-butt">
    <%= link_to 'Add Event', new_timeline_event_path(@timeline) %>
  </div>
</div>


<script type="text/javascript">
  var events_stuff = gon.events
  //  [{ id: "1", "name": "Deploy asap", "description": "jaklsdjf", "date": "2012-09-28T17:16:00"}]

  TimeKnots.draw("#timelineNonDate", events_stuff,  {color: "#F2C66D", width:1000, showLabels: true});
</script>
